In [2]:
#imported pandas and named it pd as a shortcut
import pandas as pd
# Read the csv into a dataframe
df = pd.read_csv("data/survey_lung_cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [3]:
# The number of rows and columns in a dataframe (df.shape)
df.shape

(309, 16)

In [4]:
df.columns

Index(['GENDER', 'AGE', 'SMOKING', 'YELLOW_FINGERS', 'ANXIETY',
       'PEER_PRESSURE', 'CHRONIC DISEASE', 'FATIGUE ', 'ALLERGY ', 'WHEEZING',
       'ALCOHOL CONSUMING', 'COUGHING', 'SHORTNESS OF BREATH',
       'SWALLOWING DIFFICULTY', 'CHEST PAIN', 'LUNG_CANCER'],
      dtype='object')

In [5]:
gender_mapping = {'M': 0, 'F': 1}
df['GENDER'] = df['GENDER'].map(gender_mapping)

result_mapping = {'YES': 1, 'NO': 0}
df['LUNG_CANCER'] = df['LUNG_CANCER'].map(result_mapping)

In [6]:
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,0,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1
1,0,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1
2,1,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0
3,0,63,2,2,2,1,1,1,1,1,2,1,1,2,2,0
4,1,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,1,1,1,2,2,2,1,1,2,2,2,2,1,1
305,0,70,2,1,1,1,1,2,2,2,2,2,2,1,2,1
306,0,58,2,1,1,1,1,1,2,2,2,2,1,1,2,1
307,0,67,2,1,2,1,1,2,2,1,2,2,2,1,2,1
308,0,62,1,1,1,2,1,2,2,2,2,1,1,2,1,1

In [7]:
# Separate features (X) and target variable (y)
X = df.iloc[:, :-1]  # Select all columns except the last one
y = df.iloc[:, -1]  # Select the last column as the target variable

In [8]:
X

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,0,69,1,2,2,1,1,2,1,2,2,2,2,2,2
1,0,74,2,1,1,1,2,2,2,1,1,1,2,2,2
2,1,59,1,1,1,2,1,2,1,2,1,2,2,1,2
3,0,63,2,2,2,1,1,1,1,1,2,1,1,2,2
4,1,63,1,2,1,1,1,1,1,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,1,1,1,2,2,2,1,1,2,2,2,2,1
305,0,70,2,1,1,1,1,2,2,2,2,2,2,1,2
306,0,58,2,1,1,1,1,1,2,2,2,2,1,1,2
307,0,67,2,1,2,1,1,2,2,1,2,2,2,1,2
308,0,62,1,1,1,2,1,2,2,2,2,1,1,2,1

In [9]:
y

0      1
1      1
2      0
3      0
4      0
      ..
304    1
305    1
306    1
307    1
308    1
Name: LUNG_CANCER, Length: 309, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
type(X_train)

pandas.core.frame.DataFrame

In [12]:
import numpy as np
from sklearn.linear_model import LogisticRegression

# creating the logistic regression model
model = LogisticRegression()

# fitting the model to the training data
model.fit(X_train,y_train)

# making the predictions on the testing data. pred means prediction
y_pred = model.predict(X_test)

c:\Users\samar\src\Lung-Cancer-AI\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)

accuracy

0.9032258064516129

In [13]:
user_entry = [ 1, 68,  1,  1,  2,  1,  2,  1,  2,  2,  2,  1,  1,  2,  1]
# cerate a dataframe from the list
user_entry_df = pd.DataFrame([user_entry], columns=X.columns)

predicted_value = model.predict(user_entry_df)

print(predicted_value)

[1]

In [20]:
# Positive Case (Lung Cancer)
X_test.iloc[0], y_test.iloc[0]

(GENDER                    1
 AGE                      68
 SMOKING                   1
 YELLOW_FINGERS            1
 ANXIETY                   2
 PEER_PRESSURE             1
 CHRONIC DISEASE           2
 FATIGUE                   1
 ALLERGY                   2
 WHEEZING                  2
 ALCOHOL CONSUMING         2
 COUGHING                  1
 SHORTNESS OF BREATH       1
 SWALLOWING DIFFICULTY     2
 CHEST PAIN                1
 Name: 63, dtype: int64,
 1)

In [24]:
X_test.iloc[3], y_test.iloc[3]

(GENDER                    0
 AGE                      68
 SMOKING                   1
 YELLOW_FINGERS            1
 ANXIETY                   2
 PEER_PRESSURE             2
 CHRONIC DISEASE           2
 FATIGUE                   1
 ALLERGY                   1
 WHEEZING                  1
 ALCOHOL CONSUMING         2
 COUGHING                  1
 SHORTNESS OF BREATH       1
 SWALLOWING DIFFICULTY     1
 CHEST PAIN                1
 Name: 159, dtype: int64,
 0)